@model Product

<div class="product">
    <img class="product-image" src="@Model.Img" />
    <h1 class="product-name">@Model.Name</h1>
    <h1 class="product-price">@Model.Price<span>kr</span></h1>
</div>